<footer class="custom_footer">
  <div class="container">

    <div class="row">
      <div class="foo-top">
        <div class="col-md-2 col-sm-2 col-xs-6">
          <ul class="foo-links">
            <li>
              <a href="#">Whats New</a>
            </li>
            <li>
              <a href="#">Artists</a>
            </li>
            <li>
              <a href="#">Vote</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6">
          <ul class="foo-links">
            <li>
              <a href="#">FAQ</a>
            </li>
            <li>
              <a href="#">Privacy Policy</a>
            </li>
            <li>
              <a href="#">Terms & Conditions</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 social-right">
          <ul class="social-list">
            <li>
              <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="foo-bottom">
        <div class="col-md-12">
          <div class="copyright">
            <a class="foo-logo" href="#">
              <img src="img/foo-logo.png" alt="">
            </a>
            <span>© America’s Original Music</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>