<div class="vote-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6 col-xs-5">
        <div class="head-global"><h2>Vote</h2></div>
      </div>
      <div class="col-md-5 col-sm-6 col-xs-7">
        <div class="new-head">
          <div class="search-wrap">
            <form>
              <div class="mobile-search"><i class="fa fa-search" aria-hidden="true"></i></div>
              <div class="search-input">
                <input type="text" placeholder="Search by Artist Name or Song Title">
              </div>
            </form>
          </div>
          <div class="filter-head">
            <a href="javascript:;" (click)="toggleFilter()">
              <div class="filter-icon"><img src="img/filter.png" alt="Filter Icon"></div>
              <span>Filters <i class="fa fa-caret-right"></i></span>
            </a>
          </div>
        </div>
      </div>

      <div class="filter-drop-down" [style.display]="show_filter ? 'block' : 'none'">
        <div class="container">
          <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-6">
              <div class="music-genre">
                <div class="filter-heading">Music Genre</div>
                <ul>
                  <li>
                    <div class="radio">
                        <label>
                          <input type="radio" value="" name="musicgenre">All styles
                          <div class="radio_check"></div>
                        </label>
                    </div>
                  </li>
                  <li>
                    <div class="radio">
                        <label>
                          <input type="radio" value="" name="musicgenre">Hip Hop
                          <div class="radio_check"></div>
                        </label>
                    </div>
                  </li>
                  <li>
                    <div class="radio">
                        <label>
                          <input type="radio" value="" name="musicgenre">Rock
                          <div class="radio_check"></div>
                        </label>
                    </div>
                  </li>
                  <li>
                    <div class="radio">
                        <label>
                          <input type="radio" value="" name="musicgenre">R&B
                          <div class="radio_check"></div>
                        </label>
                    </div>
                  </li>
                  <li>
                    <div class="radio">
                        <label>
                          <input type="radio" value="" name="musicgenre">Country
                          <div class="radio_check"></div>
                        </label>
                    </div>
                  </li>
                  <li>
                    <div class="radio">
                        <label>
                          <input type="radio" value="" name="musicgenre">Pop
                          <div class="radio_check"></div>
                        </label>
                    </div>
                  </li>
                  <li>
                    <div class="radio">
                        <label>
                          <input type="radio" value="" name="musicgenre">Electronic
                          <div class="radio_check"></div>
                        </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6">
              <div class="artist-type">
                <div class="filter-heading">Artist Type</div>
                <ul>
                  <li>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" value="" checked>
                          <div class="chk_check"></div>
                          <span>Rising Stars</span>
                        </label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" value="" checked>
                          <div class="chk_check"></div>
                          <span>Chart Toppers</span>
                        </label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" value="" checked>
                          <div class="chk_check"></div>
                          <span>My Artsist</span>
                        </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
              <div class="sub-menu-filter">
              <div class="filter-heading">Music Genre</div>
                <div class="row">
                  <div class="col-md-2 col-sm-4 col-xs-4">
                    <div class="filter-subhead">Northeast</div>
                    <ul>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <div class="chk_check"></div>
                              <span>Marryland</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <div class="chk_check"></div>
                              <span>New Jersey</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <div class="chk_check"></div>
                              <span>Pennsylvania</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" checked>
                              <div class="chk_check"></div>
                              <span>New York</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">	
                              <div class="chk_check"></div>
                              <span>Delaware</span>
                            </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-4">
                    <div class="filter-subhead">southeast</div>
                    <ul>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <div class="chk_check"></div>
                              <span>Marryland</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <div class="chk_check"></div>
                              <span>New Jersey</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <div class="chk_check"></div>
                              <span>Pennsylvania</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" checked>	
                              <div class="chk_check"></div>
                              <span>New York</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">	
                              <div class="chk_check"></div>
                              <span>Delaware</span>
                            </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-4">
                    <div class="filter-subhead">Midwest</div>
                    <ul>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <div class="chk_check"></div>
                              <span>Marryland</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <div class="chk_check"></div>
                              <span>New Jersey</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <div class="chk_check"></div>
                              <span>Pennsylvania</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" checked>	
                              <div class="chk_check"></div>
                              <span>New York</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">	
                              <div class="chk_check"></div>
                              <span>Delaware</span>
                            </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-4">
                    <div class="filter-subhead">Southwest</div>
                    <ul>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <div class="chk_check"></div>
                              <span>Marryland</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <div class="chk_check"></div>
                              <span>New Jersey</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <div class="chk_check"></div>
                              <span>Pennsylvania</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" checked>	
                              <div class="chk_check"></div>
                              <span>New York</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">	
                              <div class="chk_check"></div>
                              <span>Delaware</span>
                            </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-4">
                    <div class="filter-subhead">West</div>
                    <ul>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <div class="chk_check"></div>
                              <span>Marryland</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <div class="chk_check"></div>
                              <span>New Jersey</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <div class="chk_check"></div>
                              <span>Pennsylvania</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" checked>	
                              <div class="chk_check"></div>
                              <span>New York</span>
                            </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">	
                              <div class="chk_check"></div>
                              <span>Delaware</span>
                            </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-4">
                    <div class="filter-subhead">other</div>
                    <ul>
                      <li>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <div class="chk_check"></div>
                              <span>Puerto Rico</span>
                            </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="button_group">
                <a href="#" class="cancel-btn">Cancel</a>
                <a href="#" class="apply-btn">Apply</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="contest-wrapper">
          <div class="heading">
            <h3>AOM Contest  Standings</h3>
          </div>
          <div class="ana-header">
              <div class="form-group days-grp">
              <select class="form-control" id="days-select">
                  <option>7 Days</option>
                  <option>1 Month</option>
              </select>
              
              </div>
              <ul class="ana-tabs nav nav-tabs">
               <li class="nav-item" ><a class="active" data-toggle="tab" href="#regionalfinals">Regional Quarter Final</a></li>
               <li class="nav-item"><a data-toggle="tab" href="#contestname">Contest</a></li>
            </ul>
          </div>
          <div class="tab-content ">
            <div class="tab-pane fade active show" id="regionalfinals">
              <div class="track-table mCustomScrollbar " data-mcs-theme="dark-3">
                <table>
                  <thead>
                    <tr>
                      <td>Rank</td>
                      <td>Track, Artist</td>
                      <td>Music Genre</td>
                      <td>Location</td>
                      <td>Round 1</td>
                      <td>Round 2</td>
                      <td>Round 3</td>
                      <td>Number of Votes</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="serial-num">1.</td>
                      <td>
                        <div class="play-option"><a href="#"><img src="img/new-play.png" alt="Play"></a></div>
                        <div class="track-pic"><a href="#"><img src="img/track-img.png" alt="Track Image"></a></div>
                        <div class="track-det" colspan="2">
                          <p class="track-name">Blue State of Mind</p>
                          <p class="track-singer">Contest</p>
                        </div>
                      </td>
                      <td class="music-gen "><span class="tag hiphop">Hip Hop</span></td>
                      <td class="location"><p><i class="fa fa-map-marker" aria-hidden="true"></i><span>New York</span></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="td track-vote">
                        <img src="img/start.png" alt="start">
                        <span>10800</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="serial-num">1.</td>
                      <td>
                        <div class="play-option"><a href="#"><img src="img/new-play.png" alt="Play"></a></div>
                        <div class="track-pic"><a href="#"><img src="img/track-img.png" alt="Track Image"></a></div>
                        <div class="track-det" colspan="2">
                          <p class="track-name">Blue State of Mind</p>
                          <p class="track-singer">Contest</p>
                        </div>
                      </td>
                      <td class="music-gen "><span class="tag hiphop">Hip Hop</span></td>
                      <td class="location"><p><i class="fa fa-map-marker" aria-hidden="true"></i><span>New York</span></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="td track-vote">
                        <img src="img/start.png" alt="start">
                        <span>10800</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="serial-num">1.</td>
                      <td>
                        <div class="play-option"><a href="#"><img src="img/new-play.png" alt="Play"></a></div>
                        <div class="track-pic"><a href="#"><img src="img/track-img.png" alt="Track Image"></a></div>
                        <div class="track-det" colspan="2">
                          <p class="track-name">Blue State of Mind</p>
                          <p class="track-singer">Contest</p>
                        </div>
                      </td>
                      <td class="music-gen "><span class="tag hiphop">Hip Hop</span></td>
                      <td class="location"><p><i class="fa fa-map-marker" aria-hidden="true"></i><span>New York</span></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="td track-vote">
                        <img src="img/start.png" alt="start">
                        <span>10800</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="serial-num">1.</td>
                      <td>
                        <div class="play-option"><a href="#"><img src="img/new-play.png" alt="Play"></a></div>
                        <div class="track-pic"><a href="#"><img src="img/track-img.png" alt="Track Image"></a></div>
                        <div class="track-det" colspan="2">
                          <p class="track-name">Blue State of Mind</p>
                          <p class="track-singer">Contest</p>
                        </div>
                      </td>
                      <td class="music-gen "><span class="tag hiphop">Hip Hop</span></td>
                      <td class="location"><p><i class="fa fa-map-marker" aria-hidden="true"></i><span>New York</span></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="td track-vote">
                        <img src="img/start.png" alt="start">
                        <span>10800</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="serial-num">1.</td>
                      <td>
                        <div class="play-option"><a href="#"><img src="img/new-play.png" alt="Play"></a></div>
                        <div class="track-pic"><a href="#"><img src="img/track-img.png" alt="Track Image"></a></div>
                        <div class="track-det" colspan="2">
                          <p class="track-name">Blue State of Mind</p>
                          <p class="track-singer">Contest</p>
                        </div>
                      </td>
                      <td class="music-gen "><span class="tag hiphop">Hip Hop</span></td>
                      <td class="location"><p><i class="fa fa-map-marker" aria-hidden="true"></i><span>New York</span></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="td track-vote">
                        <img src="img/start.png" alt="start">
                        <span>10800</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="serial-num">1.</td>
                      <td>
                        <div class="play-option"><a href="#"><img src="img/new-play.png" alt="Play"></a></div>
                        <div class="track-pic"><a href="#"><img src="img/track-img.png" alt="Track Image"></a></div>
                        <div class="track-det" colspan="2">
                          <p class="track-name">Blue State of Mind</p>
                          <p class="track-singer">Contest</p>
                        </div>
                      </td>
                      <td class="music-gen "><span class="tag hiphop">Hip Hop</span></td>
                      <td class="location"><p><i class="fa fa-map-marker" aria-hidden="true"></i><span>New York</span></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="td track-vote">
                        <img src="img/start.png" alt="start">
                        <span>10800</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="serial-num">1.</td>
                      <td>
                        <div class="play-option"><a href="#"><img src="img/new-play.png" alt="Play"></a></div>
                        <div class="track-pic"><a href="#"><img src="img/track-img.png" alt="Track Image"></a></div>
                        <div class="track-det" colspan="2">
                          <p class="track-name">Blue State of Mind</p>
                          <p class="track-singer">Contest</p>
                        </div>
                      </td>
                      <td class="music-gen "><span class="tag hiphop">Hip Hop</span></td>
                      <td class="location"><p><i class="fa fa-map-marker" aria-hidden="true"></i><span>New York</span></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                      <td class="td track-vote">
                        <img src="img/start.png" alt="start">
                        <span>10800</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="highlights-wrap mCustomScrollbar " data-mcs-theme="dark-3">
          <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="final-wrap">
                <div class="img-wrap">
                  <img src="img/highlight-player.png" alt="Finalists">
                  <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="content-wrap">
                  <div class="player">
                    <div class="title"><a href="#">DJ Bond</a></div>
                    <div class="finalist-name">Garry Wood</div>
                    <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
                    
                  </div>
                  <div class="sub-con">
                    <div class="location">
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                    </div>
                    <div class="td track-vote">
                          <img src="img/small-star.png" alt="start">
                          <span>1300</span>
                        </div>
                        <div class="cat ele">Electronic</div>
                      </div>
                      <a href="#" class="add-btn">Vote</a>
                  
                </div>
              </div>
            </div>
  
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="final-wrap">
                <div class="img-wrap">
                  <img src="img/highlight-player.png" alt="Finalists">
                  <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="content-wrap">
                  <div class="player">
                    <div class="title"><a href="#">DJ Bond</a></div>
                    <div class="finalist-name">Garry Wood</div>
                    <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
                    
                  </div>
                  <div class="sub-con">
                    <div class="location">
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                    </div>
                    <div class="td track-vote">
                          <img src="img/small-star.png" alt="start">
                          <span>1300</span>
                        </div>
                        <div class="cat ele">Electronic</div>
                      </div>
                      <a href="#" class="add-btn">Vote</a>
                  
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="final-wrap">
                <div class="img-wrap">
                  <img src="img/highlight-player.png" alt="Finalists">
                  <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="content-wrap">
                  <div class="player">
                    <div class="title"><a href="#">DJ Bond</a></div>
                    <div class="finalist-name">Garry Wood</div>
                    <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
                    
                  </div>
                  <div class="sub-con">
                    <div class="location">
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                    </div>
                    <div class="td track-vote">
                          <img src="img/small-star.png" alt="start">
                          <span>1300</span>
                        </div>
                        <div class="cat ele">Electronic</div>
                      </div>
                      <a href="#" class="add-btn">Vote</a>
                  
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="final-wrap">
                <div class="img-wrap">
                  <img src="img/highlight-player.png" alt="Finalists">
                  <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="content-wrap">
                  <div class="player">
                    <div class="title"><a href="#">DJ Bond</a></div>
                    <div class="finalist-name">Garry Wood</div>
                    <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
                    
                  </div>
                  <div class="sub-con">
                    <div class="location">
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                    </div>
                    <div class="td track-vote">
                          <img src="img/small-star.png" alt="start">
                          <span>1300</span>
                        </div>
                        <div class="cat ele">Electronic</div>
                      </div>
                      <a href="#" class="add-btn">Vote</a>
                  
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="final-wrap">
                <div class="img-wrap">
                  <img src="img/highlight-player.png" alt="Finalists">
                  <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="content-wrap">
                  <div class="player">
                    <div class="title"><a href="#">DJ Bond</a></div>
                    <div class="finalist-name">Garry Wood</div>
                    <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
                    
                  </div>
                  <div class="sub-con">
                    <div class="location">
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                    </div>
                    <div class="td track-vote">
                          <img src="img/small-star.png" alt="start">
                          <span>1300</span>
                        </div>
                        <div class="cat ele">Electronic</div>
                      </div>
                      <a href="#" class="add-btn">Vote</a>
                  
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="final-wrap">
                <div class="img-wrap">
                  <img src="img/highlight-player.png" alt="Finalists">
                  <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="content-wrap">
                  <div class="player">
                    <div class="title"><a href="#">DJ Bond</a></div>
                    <div class="finalist-name">Garry Wood</div>
                    <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
                    
                  </div>
                  <div class="sub-con">
                    <div class="location">
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                    </div>
                    <div class="td track-vote">
                          <img src="img/small-star.png" alt="start">
                          <span>1300</span>
                        </div>
                        <div class="cat ele">Electronic</div>
                      </div>
                      <a href="#" class="add-btn">Vote</a>
                  
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="final-wrap">
                <div class="img-wrap">
                  <img src="img/highlight-player.png" alt="Finalists">
                  <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="content-wrap">
                  <div class="player">
                    <div class="title"><a href="#">DJ Bond</a></div>
                    <div class="finalist-name">Garry Wood</div>
                    <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
                    
                  </div>
                  <div class="sub-con">
                    <div class="location">
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                    </div>
                    <div class="td track-vote">
                          <img src="img/small-star.png" alt="start">
                          <span>1300</span>
                        </div>
                        <div class="cat ele">Electronic</div>
                      </div>
                      <a href="#" class="add-btn">Vote</a>
                  
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="final-wrap">
                <div class="img-wrap">
                  <img src="img/highlight-player.png" alt="Finalists">
                  <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="content-wrap">
                  <div class="player">
                    <div class="title"><a href="#">DJ Bond</a></div>
                    <div class="finalist-name">Garry Wood</div>
                    <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
                    
                  </div>
                  <div class="sub-con">
                    <div class="location">
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                    </div>
                    <div class="td track-vote">
                          <img src="img/small-star.png" alt="start">
                          <span>1300</span>
                        </div>
                        <div class="cat ele">Electronic</div>
                      </div>
                      <a href="#" class="add-btn">Vote</a>
                  
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="final-wrap">
                <div class="img-wrap">
                  <img src="img/highlight-player.png" alt="Finalists">
                  <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="content-wrap">
                  <div class="player">
                    <div class="title"><a href="#">DJ Bond</a></div>
                    <div class="finalist-name">Garry Wood</div>
                    <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
                    
                  </div>
                  <div class="sub-con">
                    <div class="location">
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                    </div>
                    <div class="td track-vote">
                          <img src="img/small-star.png" alt="start">
                          <span>1300</span>
                        </div>
                        <div class="cat ele">Electronic</div>
                      </div>
                      <a href="#" class="add-btn">Vote</a>
                  
                </div>
              </div>
            </div>					
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="final-wrap">
                <div class="img-wrap">
                  <img src="img/highlight-player.png" alt="Finalists">
                  <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="content-wrap">
                  <div class="player">
                    <div class="title"><a href="#">DJ Bond</a></div>
                    <div class="finalist-name">Garry Wood</div>
                    <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
                    
                  </div>
                  <div class="sub-con">
                    <div class="location">
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                    </div>
                    <div class="td track-vote">
                          <img src="img/small-star.png" alt="start">
                          <span>1300</span>
                        </div>
                        <div class="cat ele">Electronic</div>
                      </div>
                      <a href="#" class="add-btn">Vote</a>
                  
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="final-wrap">
                <div class="img-wrap">
                  <img src="img/highlight-player.png" alt="Finalists">
                  <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="content-wrap">
                  <div class="player">
                    <div class="title"><a href="#">DJ Bond</a></div>
                    <div class="finalist-name">Garry Wood</div>
                    <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
                    
                  </div>
                  <div class="sub-con">
                    <div class="location">
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                    </div>
                    <div class="td track-vote">
                          <img src="img/small-star.png" alt="start">
                          <span>1300</span>
                        </div>
                        <div class="cat ele">Electronic</div>
                      </div>
                      <a href="#" class="add-btn">Vote</a>
                  
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="final-wrap">
                <div class="img-wrap">
                  <img src="img/highlight-player.png" alt="Finalists">
                  <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="content-wrap">
                  <div class="player">
                    <div class="title"><a href="#">DJ Bond</a></div>
                    <div class="finalist-name">Garry Wood</div>
                    <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
                    
                  </div>
                  <div class="sub-con">
                    <div class="location">
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                    </div>
                    <div class="td track-vote">
                          <img src="img/small-star.png" alt="start">
                          <span>1300</span>
                        </div>
                        <div class="cat ele">Electronic</div>
                      </div>
                      <a href="#" class="add-btn">Vote</a>
                  
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="final-wrap">
                <div class="img-wrap">
                  <img src="img/highlight-player.png" alt="Finalists">
                  <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="content-wrap">
                  <div class="player">
                    <div class="title"><a href="#">DJ Bond</a></div>
                    <div class="finalist-name">Garry Wood</div>
                    <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
                    
                  </div>
                  <div class="sub-con">
                    <div class="location">
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                    </div>
                    <div class="td track-vote">
                          <img src="img/small-star.png" alt="start">
                          <span>1300</span>
                        </div>
                        <div class="cat ele">Electronic</div>
                      </div>
                      <a href="#" class="add-btn">Vote</a>
                  
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="final-wrap">
                <div class="img-wrap">
                  <img src="img/highlight-player.png" alt="Finalists">
                  <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="content-wrap">
                  <div class="player">
                    <div class="title"><a href="#">DJ Bond</a></div>
                    <div class="finalist-name">Garry Wood</div>
                    <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
                    
                  </div>
                  <div class="sub-con">
                    <div class="location">
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                    </div>
                    <div class="td track-vote">
                          <img src="img/small-star.png" alt="start">
                          <span>1300</span>
                        </div>
                        <div class="cat ele">Electronic</div>
                      </div>
                      <a href="#" class="add-btn">Vote</a>
                  
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="final-wrap">
                <div class="img-wrap">
                  <img src="img/highlight-player.png" alt="Finalists">
                  <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="content-wrap">
                  <div class="player">
                    <div class="title"><a href="#">DJ Bond</a></div>
                    <div class="finalist-name">Garry Wood</div>
                    <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
                    
                  </div>
                  <div class="sub-con">
                    <div class="location">
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                    </div>
                    <div class="td track-vote">
                          <img src="img/small-star.png" alt="start">
                          <span>1300</span>
                        </div>
                        <div class="cat ele">Electronic</div>
                      </div>
                      <a href="#" class="add-btn">Vote</a>
                  
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>