<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<section class="player-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aom_audio_player">
          <!-- <img src="img/player.png" alt=""> -->
          <!-- <audio controls>
              <source src="horse.ogg" type="audio/ogg">
              <source src="img/In My City - Priyanka Chopra (ft. Will.i.am).mp3" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio> -->
        </div>
      </div>
    </div>
  </div>
</section>
