<section class="whats-new-wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="news-header">
          <div class="row">
            <div class="col-md-7 col-sm-6 col-xs-5">
              <div class="head-global"><h2>What's New</h2></div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-7">
              <div class="new-head">
                <div class="search-wrap">
                  <form>
                    <div class="mobile-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                    <div class="search-input">
                      <input type="text" placeholder="Search by Artist Name or Song Title">
                    </div>
                  </form>
                </div>
                <div class="filter-head">
                  <a href="#">
                    <div class="filter-icon"><img src="img/filter.png" alt="Filter Icon"></div>
                    <span>Filters <i class="fa fa-caret-right"></i></span>
                  </a>
                  
                </div>
              </div>
            </div>
            <div class="filter-drop-down">
              <div class="container">
                <div class="row">
                  <div class="col-md-2 col-sm-6 col-xs-6">
                    <div class="music-genre">
                      <div class="filter-heading">Music Genre</div>
                      <ul>
                        <li>
                          <div class="radio">
                              <label>
                                <input type="radio" value="" name="musicgenre">All styles
                                <div class="radio_check"></div>
                              </label>
                          </div>
                        </li>
                        <li>
                          <div class="radio">
                              <label>
                                <input type="radio" value="" name="musicgenre">Hip Hop
                                <div class="radio_check"></div>
                              </label>
                          </div>
                        </li>
                        <li>
                          <div class="radio">
                              <label>
                                <input type="radio" value="" name="musicgenre">Rock
                                <div class="radio_check"></div>
                              </label>
                          </div>
                        </li>
                        <li>
                          <div class="radio">
                              <label>
                                <input type="radio" value="" name="musicgenre">R&B
                                <div class="radio_check"></div>
                              </label>
                          </div>
                        </li>
                        <li>
                          <div class="radio">
                              <label>
                                <input type="radio" value="" name="musicgenre">Country
                                <div class="radio_check"></div>
                              </label>
                          </div>
                        </li>
                        <li>
                          <div class="radio">
                              <label>
                                <input type="radio" value="" name="musicgenre">Pop
                                <div class="radio_check"></div>
                              </label>
                          </div>
                        </li>
                        <li>
                          <div class="radio">
                              <label>
                                <input type="radio" value="" name="musicgenre">Electronic
                                <div class="radio_check"></div>
                              </label>
                          </div>
                        </li>
                      </ul>
                    </div>
                    
                  </div>
                  <div class="col-md-2 col-sm-6 col-xs-6">
                    <div class="artist-type">
                      <div class="filter-heading">Artist Type</div>
                      <ul>
                        <li>
                          <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" checked>
                                <div class="chk_check"></div>
                                <span>Rising Stars</span>
                              </label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" checked>
                                <div class="chk_check"></div>
                                <span>Chart Toppers</span>
                              </label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" checked>
                                <div class="chk_check"></div>
                                <span>My Artsist</span>
                              </label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="sub-menu-filter">
                    <div class="filter-heading">Music Genre</div>
                    
                      <div class="col-md-2 col-sm-4 col-xs-4">
                        <div class="filter-subhead">Northeast</div>
                        <ul>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">
                                  <div class="chk_check"></div>
                                  <span>Marryland</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">
                                  <div class="chk_check"></div>
                                  <span>New Jersey</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">
                                  <div class="chk_check"></div>
                                  <span>Pennsylvania</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="" checked>
                                  <div class="chk_check"></div>
                                  <span>New York</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">	
                                  <div class="chk_check"></div>
                                  <span>Delaware</span>
                                </label>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-2 col-sm-4 col-xs-4">
                        <div class="filter-subhead">southeast</div>
                        <ul>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">
                                  <div class="chk_check"></div>
                                  <span>Marryland</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">
                                  <div class="chk_check"></div>
                                  <span>New Jersey</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">
                                  <div class="chk_check"></div>
                                  <span>Pennsylvania</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="" checked>	
                                  <div class="chk_check"></div>
                                  <span>New York</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">	
                                  <div class="chk_check"></div>
                                  <span>Delaware</span>
                                </label>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-2 col-sm-4 col-xs-4">
                        <div class="filter-subhead">Midwest</div>
                        <ul>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">
                                  <div class="chk_check"></div>
                                  <span>Marryland</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">
                                  <div class="chk_check"></div>
                                  <span>New Jersey</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">
                                  <div class="chk_check"></div>
                                  <span>Pennsylvania</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="" checked>	
                                  <div class="chk_check"></div>
                                  <span>New York</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">	
                                  <div class="chk_check"></div>
                                  <span>Delaware</span>
                                </label>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-2 col-sm-4 col-xs-4">
                        <div class="filter-subhead">Southwest</div>
                        <ul>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">
                                  <div class="chk_check"></div>
                                  <span>Marryland</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">
                                  <div class="chk_check"></div>
                                  <span>New Jersey</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">
                                  <div class="chk_check"></div>
                                  <span>Pennsylvania</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="" checked>	
                                  <div class="chk_check"></div>
                                  <span>New York</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">	
                                  <div class="chk_check"></div>
                                  <span>Delaware</span>
                                </label>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-2 col-sm-4 col-xs-4">
                        <div class="filter-subhead">West</div>
                        <ul>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">
                                  <div class="chk_check"></div>
                                  <span>Marryland</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">
                                  <div class="chk_check"></div>
                                  <span>New Jersey</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">
                                  <div class="chk_check"></div>
                                  <span>Pennsylvania</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="" checked>	
                                  <div class="chk_check"></div>
                                  <span>New York</span>
                                </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">	
                                  <div class="chk_check"></div>
                                  <span>Delaware</span>
                                </label>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-2 col-sm-4 col-xs-4">
                        <div class="filter-subhead">other</div>
                        <ul>
                          <li>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">
                                  <div class="chk_check"></div>
                                  <span>Puerto Rico</span>
                                </label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="button_group">
                      <a href="#" class="cancel-btn">Cancel</a>
                      <a href="#" class="apply-btn">Apply</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12  col-xs-12">
        <div class="whatsnew-banner">
            <app-carousel-scroll [images]="images" [showFavourit]='true' [carouselType]='"banner"'></app-carousel-scroll>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="artist-highlight">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="head-global">
          <h2>Artist Highlights</h2>
        </div>
      </div>
      <div class="highlights-wrap mCustomScrollbar " data-mcs-theme="dark-3" >
        <div class="col-md-3 col-sm-4 col-xs-6 ">
          <div class="final-wrap ">
            <div class="img-wrap ">
              <img src="img/highlight-player.png " alt="Finalists ">
              <a href="javascript:void(0) " class="fan "><i class="fa fa-heart " aria-hidden="true "></i></a>
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">DJ Bond</a></div>
                <div class="cat ele ">Electronic</div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 ">
          <div class="final-wrap ">
            <div class="img-wrap ">
              <img src="img/highlight-player2.png " alt="Finalists ">
              <a href="javascript:void(0) " class="fan "><i class="fa fa-heart " aria-hidden="true "></i></a>
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">DJ Bond</a></div>
                <div class="cat ele ">Electronic</div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 ">
          <div class="final-wrap ">
            <div class="img-wrap ">
              <img src="img/highlight-player3.png " alt="Finalists ">
              <a href="javascript:void(0) " class="fan "><i class="fa fa-heart " aria-hidden="true "></i></a>
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">DJ Bond</a></div>
                <div class="cat ele ">Electronic</div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 ">
          <div class="final-wrap ">
            <div class="img-wrap ">
              <img src="img/highlight-player4.png " alt="Finalists ">
              <a href="javascript:void(0) " class="fan "><i class="fa fa-heart " aria-hidden="true "></i></a>
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">DJ Bond</a></div>
                <div class="cat ele ">Electronic</div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 ">
          <div class="final-wrap ">
            <div class="img-wrap ">
              <img src="img/highlight-player5.png " alt="Finalists ">
              <a href="javascript:void(0) " class="fan "><i class="fa fa-heart " aria-hidden="true "></i></a>
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">DJ Bond</a></div>
                <div class="cat ele ">Electronic</div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 ">
          <div class="final-wrap ">
            <div class="img-wrap ">
              <img src="img/highlight-player6.png " alt="Finalists ">
              <a href="javascript:void(0) " class="fan "><i class="fa fa-heart " aria-hidden="true "></i></a>
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">DJ Bond</a></div>
                <div class="cat ele ">Electronic</div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 ">
          <div class="final-wrap ">
            <div class="img-wrap ">
              <img src="img/highlight-player7.png " alt="Finalists ">
              <a href="javascript:void(0) " class="fan "><i class="fa fa-heart " aria-hidden="true "></i></a>
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">DJ Bond</a></div>
                <div class="cat ele ">Electronic</div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 ">
          <div class="final-wrap ">
            <div class="img-wrap ">
              <img src="img/highlight-player.png " alt="Finalists ">
              <a href="javascript:void(0) " class="fan "><i class="fa fa-heart " aria-hidden="true "></i></a>
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">DJ Bond</a></div>
                <div class="cat ele ">Electronic</div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 ">
          <div class="final-wrap ">
            <div class="img-wrap ">
              <img src="img/highlight-player.png " alt="Finalists ">
              <a href="javascript:void(0) " class="fan "><i class="fa fa-heart " aria-hidden="true "></i></a>
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">DJ Bond</a></div>
                <div class="cat ele ">Electronic</div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 ">
          <div class="final-wrap ">
            <div class="img-wrap ">
              <img src="img/highlight-player2.png " alt="Finalists ">
              <a href="javascript:void(0) " class="fan "><i class="fa fa-heart " aria-hidden="true "></i></a>
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">DJ Bond</a></div>
                <div class="cat ele ">Electronic</div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 ">
          <div class="final-wrap ">
            <div class="img-wrap ">
              <img src="img/highlight-player3.png " alt="Finalists ">
              <a href="javascript:void(0) " class="fan "><i class="fa fa-heart " aria-hidden="true "></i></a>
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">DJ Bond</a></div>
                <div class="cat ele ">Electronic</div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 ">
          <div class="final-wrap ">
            <div class="img-wrap ">
              <img src="img/highlight-player4.png " alt="Finalists ">
              <a href="javascript:void(0) " class="fan "><i class="fa fa-heart " aria-hidden="true "></i></a>
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">DJ Bond</a></div>
                <div class="cat ele ">Electronic</div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 ">
          <div class="final-wrap ">
            <div class="img-wrap ">
              <img src="img/highlight-player5.png " alt="Finalists ">
              <a href="javascript:void(0) " class="fan "><i class="fa fa-heart " aria-hidden="true "></i></a>
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">DJ Bond</a></div>
                <div class="cat ele ">Electronic</div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 ">
          <div class="final-wrap ">
            <div class="img-wrap ">
              <img src="img/highlight-player6.png " alt="Finalists ">
              <a href="javascript:void(0) " class="fan "><i class="fa fa-heart " aria-hidden="true "></i></a>
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">DJ Bond</a></div>
                <div class="cat ele ">Electronic</div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 ">
          <div class="final-wrap ">
            <div class="img-wrap ">
              <img src="img/highlight-player7.png " alt="Finalists ">
              <a href="javascript:void(0) " class="fan "><i class="fa fa-heart " aria-hidden="true "></i></a>
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">DJ Bond</a></div>
                <div class="cat ele ">Electronic</div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 ">
          <div class="final-wrap ">
            <div class="img-wrap ">
              <img src="img/highlight-player.png " alt="Finalists ">
              <a href="javascript:void(0) " class="fan "><i class="fa fa-heart " aria-hidden="true "></i></a>
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">DJ Bond</a></div>
                <div class="cat ele ">Electronic</div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="newuploads-wrap">
  <div class="container ">
    <div class="row ">
      <div class="col-md-12 ">
        <div class="head-global "><h2>Popular Tracks</h2></div>
      </div>
      <div class="uploads-container ">
        <div class="col-md-4 col-sm-4 col-xs-12 ">
          <div class="upload ">
            <div class="img-wrap ">
              <img src="img/upload1.png " alt="New Uploads ">
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">Say Thanks</a></div>
                <div class="finalist-name ">Garry Wood</div>
                <div class="action-btn "><a href="# "><img src="img/play.png " alt="Pause "></a></div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>New York</span></p>
                <div class="cat hiphop ">Hip Hop</div>
              </div>
            </div>
          </div>

          <div class="upload ">
            <div class="img-wrap ">
              <img src="img/upload2.png " alt="New Uploads ">
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">My Love</a></div>
                <div class="finalist-name ">Valeri</div>
                <div class="action-btn "><a href="# "><img src="img/play.png " alt="Pause "></a></div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>New York</span></p>
                <div class="cat rb ">R&B</div>
              </div>
            </div>
          </div>

          <div class="upload ">
            <div class="img-wrap ">
              <img src="img/upload3.png " alt="New Uploads ">
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">Sweet Dreams</a></div>
                <div class="finalist-name ">Adelina Mango</div>
                <div class="action-btn "><a href="# "><img src="img/play.png " alt="Pause "></a></div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>New York</span></p>
                <div class="cat pop ">pop</div>
              </div>
            </div>
          </div>

          <div class="upload ">
            <div class="img-wrap ">
              <img src="img/upload4.png " alt="New Uploads ">
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">Today</a></div>
                <div class="finalist-name ">DJ Mojo</div>
                <div class="action-btn "><a href="# "><img src="img/play.png " alt="Pause "></a></div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>New York</span></p>
                <div class="cat ele ">Electronic</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 ">
          <div class="upload ">
            <div class="img-wrap ">
              <img src="img/upload3.png " alt="New Uploads ">
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">Sweet Dreams</a></div>
                <div class="finalist-name ">Adelina Mango</div>
                <div class="action-btn "><a href="# "><img src="img/play.png " alt="Pause "></a></div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>New York</span></p>
                <div class="cat pop ">pop</div>
              </div>
            </div>
          </div>

          <div class="upload ">
            <div class="img-wrap ">
              <img src="img/upload4.png " alt="New Uploads ">
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">Today</a></div>
                <div class="finalist-name ">DJ Mojo</div>
                <div class="action-btn "><a href="# "><img src="img/play.png " alt="Pause "></a></div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>New York</span></p>
                <div class="cat ele ">Electronic</div>
              </div>
            </div>
          </div>

          <div class="upload ">
            <div class="img-wrap ">
              <img src="img/upload1.png " alt="New Uploads ">
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">Say Thanks</a></div>
                <div class="finalist-name ">Garry Wood</div>
                <div class="action-btn "><a href="# "><img src="img/play.png " alt="Pause "></a></div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>New York</span></p>
                <div class="cat hiphop ">Hip Hop</div>
              </div>
            </div>
          </div>

          <div class="upload ">
            <div class="img-wrap ">
              <img src="img/upload2.png " alt="New Uploads ">
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">My Love</a></div>
                <div class="finalist-name ">Valeri</div>
                <div class="action-btn "><a href="# "><img src="img/play.png " alt="Pause "></a></div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>New York</span></p>
                <div class="cat rb ">R&B</div>
              </div>
            </div>
          </div>
          
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 ">
          <div class="upload ">
            <div class="img-wrap ">
              <img src="img/upload4.png " alt="New Uploads ">
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">Today</a></div>
                <div class="finalist-name ">DJ Mojo</div>
                <div class="action-btn "><a href="# "><img src="img/play.png " alt="Pause "></a></div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>New York</span></p>
                <div class="cat ele ">Electronic</div>
              </div>
            </div>
          </div>

          <div class="upload ">
            <div class="img-wrap ">
              <img src="img/upload1.png " alt="New Uploads ">
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">Say Thanks</a></div>
                <div class="finalist-name ">Garry Wood</div>
                <div class="action-btn "><a href="# "><img src="img/play.png " alt="Pause "></a></div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>New York</span></p>
                <div class="cat hiphop ">Hip Hop</div>
              </div>
            </div>
          </div>
          
          <div class="upload ">
            <div class="img-wrap ">
              <img src="img/upload2.png " alt="New Uploads ">
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">My Love</a></div>
                <div class="finalist-name ">Valeri</div>
                <div class="action-btn "><a href="# "><img src="img/play.png " alt="Pause "></a></div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>New York</span></p>
                <div class="cat rb ">R&B</div>
              </div>
            </div>
          </div>

          <div class="upload ">
            <div class="img-wrap ">
              <img src="img/upload3.png " alt="New Uploads ">
            </div>
            <div class="content-wrap ">
              <div class="player ">
                <div class="title "><a href="# ">Sweet Dreams</a></div>
                <div class="finalist-name ">Adelina Mango</div>
                <div class="action-btn "><a href="# "><img src="img/play.png " alt="Pause "></a></div>
              </div>
              <div class="location ">
                <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>New York</span></p>
                <div class="cat pop ">pop</div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>