<section class="artist-highlight">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="head-global"><h2>Artist Highlights</h2></div>
      </div>
      <div class="highlights-wrap mCustomScrollbar " data-mcs-theme="dark-3">
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="final-wrap">
            <div class="img-wrap">
              <img src="img/highlight-player.png" alt="Finalists">
              <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">DJ Bond</a></div>
                <div class="cat ele">Electronic</div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="final-wrap">
            <div class="img-wrap">
              <img src="img/highlight-player2.png" alt="Finalists">
              <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">DJ Bond</a></div>
                <div class="cat ele">Electronic</div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="final-wrap">
            <div class="img-wrap">
              <img src="img/highlight-player3.png" alt="Finalists">
              <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">DJ Bond</a></div>
                <div class="cat ele">Electronic</div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="final-wrap">
            <div class="img-wrap">
              <img src="img/highlight-player4.png" alt="Finalists">
              <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">DJ Bond</a></div>
                <div class="cat ele">Electronic</div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="final-wrap">
            <div class="img-wrap">
              <img src="img/highlight-player5.png" alt="Finalists">
              <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">DJ Bond</a></div>
                <div class="cat ele">Electronic</div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="final-wrap">
            <div class="img-wrap">
              <img src="img/highlight-player6.png" alt="Finalists">
              <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">DJ Bond</a></div>
                <div class="cat ele">Electronic</div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="final-wrap">
            <div class="img-wrap">
              <img src="img/highlight-player7.png" alt="Finalists">
              <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">DJ Bond</a></div>
                <div class="cat ele">Electronic</div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="final-wrap">
            <div class="img-wrap">
              <img src="img/highlight-player.png" alt="Finalists">
              <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">DJ Bond</a></div>
                <div class="cat ele">Electronic</div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="final-wrap">
            <div class="img-wrap">
              <img src="img/highlight-player.png" alt="Finalists">
              <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">DJ Bond</a></div>
                <div class="cat ele">Electronic</div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="final-wrap">
            <div class="img-wrap">
              <img src="img/highlight-player2.png" alt="Finalists">
              <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">DJ Bond</a></div>
                <div class="cat ele">Electronic</div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="final-wrap">
            <div class="img-wrap">
              <img src="img/highlight-player3.png" alt="Finalists">
              <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">DJ Bond</a></div>
                <div class="cat ele">Electronic</div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="final-wrap">
            <div class="img-wrap">
              <img src="img/highlight-player4.png" alt="Finalists">
              <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">DJ Bond</a></div>
                <div class="cat ele">Electronic</div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="final-wrap">
            <div class="img-wrap">
              <img src="img/highlight-player5.png" alt="Finalists">
              <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">DJ Bond</a></div>
                <div class="cat ele">Electronic</div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="final-wrap">
            <div class="img-wrap">
              <img src="img/highlight-player6.png" alt="Finalists">
              <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">DJ Bond</a></div>
                <div class="cat ele">Electronic</div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="final-wrap">
            <div class="img-wrap">
              <img src="img/highlight-player7.png" alt="Finalists">
              <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">DJ Bond</a></div>
                <div class="cat ele">Electronic</div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="final-wrap">
            <div class="img-wrap">
              <img src="img/highlight-player.png" alt="Finalists">
              <a href="javascript:void(0)" class="fan"><i class="fa fa-heart" aria-hidden="true"></i></a>
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">DJ Bond</a></div>
                <div class="cat ele">Electronic</div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Brooklyn, New York</span></p>
                
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>