
<section class="banner-wrap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="banner-content">
          <h2>Lorem ipsum dolor sit amet</h2>
          <p>ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoco</p>
          <div class="btn-grp"><a href="javascript:;" class="vote-now-btn" >vote now</a></div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="filter-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-9 col-xs-6">
        <div class="mobile-filter-list"><i class="fa fa-filter" aria-hidden="true"></i></div>
        <div class="filter-list">
          <ul>
            <li class="active"><a href="#">All Styles</a></li>
            <li><a href="#">Hip Hop</a></li>
            <li><a href="#">Rock</a></li>
            <li><a href="#">R&B</a></li>
            <li><a href="#">Country</a></li>
            <li><a href="#">Electronic</a></li>
            <li><a href="#">Latin</a></li>
            <li><a href="#">Pop</a></li>
          </ul>
        </div>
      </div> 
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="search-wrap">
          <form>
            <div class="mobile-search"><i class="fa fa-search" aria-hidden="true"></i></div>
            <div class="search-input">
              <input type="text" placeholder="Search by Artist Name or Song Title">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="finalist-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="head-global"><h2>Round Two Finalists</h2></div>
      </div>
      <div class="finalists-container">
        
          <app-carousel-scroll [images]="images" [showFavourit]='true' [carouselType]='"normal"'></app-carousel-scroll>
         
      </div>
    </div>
  </div>
</section>


<section class="newuploads-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="head-global"><h2>New Uploads</h2></div>
      </div>
      <div class="uploads-container">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="upload">
            <div class="img-wrap">
              <img src="img/upload1.png" alt="New Uploads">
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">Say Thanks</a></div>
                <div class="finalist-name">Garry Wood</div>
                <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>New York</span></p>
                <div class="cat hiphop">Hip Hop</div>
              </div>
            </div>
          </div>

          <div class="upload">
            <div class="img-wrap">
              <img src="img/upload2.png" alt="New Uploads">
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">My Love</a></div>
                <div class="finalist-name">Valeri</div>
                <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>New York</span></p>
                <div class="cat rb">R&B</div>
              </div>
            </div>
          </div>

          <div class="upload">
            <div class="img-wrap">
              <img src="img/upload3.png" alt="New Uploads">
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">Sweet Dreams</a></div>
                <div class="finalist-name">Adelina Mango</div>
                <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>New York</span></p>
                <div class="cat pop">pop</div>
              </div>
            </div>
          </div>

          <div class="upload">
            <div class="img-wrap">
              <img src="img/upload4.png" alt="New Uploads">
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">Today</a></div>
                <div class="finalist-name">DJ Mojo</div>
                <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>New York</span></p>
                <div class="cat ele">Electronic</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="upload">
            <div class="img-wrap">
              <img src="img/upload3.png" alt="New Uploads">
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">Sweet Dreams</a></div>
                <div class="finalist-name">Adelina Mango</div>
                <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>New York</span></p>
                <div class="cat pop">pop</div>
              </div>
            </div>
          </div>

          <div class="upload">
            <div class="img-wrap">
              <img src="img/upload4.png" alt="New Uploads">
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">Today</a></div>
                <div class="finalist-name">DJ Mojo</div>
                <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>New York</span></p>
                <div class="cat ele">Electronic</div>
              </div>
            </div>
          </div>

          <div class="upload">
            <div class="img-wrap">
              <img src="img/upload1.png" alt="New Uploads">
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">Say Thanks</a></div>
                <div class="finalist-name">Garry Wood</div>
                <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>New York</span></p>
                <div class="cat hiphop">Hip Hop</div>
              </div>
            </div>
          </div>

          <div class="upload">
            <div class="img-wrap">
              <img src="img/upload2.png" alt="New Uploads">
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">My Love</a></div>
                <div class="finalist-name">Valeri</div>
                <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>New York</span></p>
                <div class="cat rb">R&B</div>
              </div>
            </div>
          </div>
          
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="upload">
            <div class="img-wrap">
              <img src="img/upload4.png" alt="New Uploads">
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">Today</a></div>
                <div class="finalist-name">DJ Mojo</div>
                <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>New York</span></p>
                <div class="cat ele">Electronic</div>
              </div>
            </div>
          </div>

          <div class="upload">
            <div class="img-wrap">
              <img src="img/upload1.png" alt="New Uploads">
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">Say Thanks</a></div>
                <div class="finalist-name">Garry Wood</div>
                <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>New York</span></p>
                <div class="cat hiphop">Hip Hop</div>
              </div>
            </div>
          </div>
          
          <div class="upload">
            <div class="img-wrap">
              <img src="img/upload2.png" alt="New Uploads">
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">My Love</a></div>
                <div class="finalist-name">Valeri</div>
                <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>New York</span></p>
                <div class="cat rb">R&B</div>
              </div>
            </div>
          </div>

          <div class="upload">
            <div class="img-wrap">
              <img src="img/upload3.png" alt="New Uploads">
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title"><a href="#">Sweet Dreams</a></div>
                <div class="finalist-name">Adelina Mango</div>
                <div class="action-btn"><a href="#"><img src="img/play.png" alt="Pause"></a></div>
              </div>
              <div class="location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>New York</span></p>
                <div class="cat pop">pop</div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>

